
body{
    margin: 0px;
    padding:0px;   
}
.nav{
    height: 60px;
    background-color: #fef4ec;
}

.menu, .logo{
    float: left;
}

.icons{
    float: right;
}
ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 3px;
}
li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}
li a:hover{
    color: darksalmon;
}
.menu img{
    margin-top: 17px;
    margin-left: 40px;
}
.logo img{
   margin-left: 480px;
   margin-top: 17px;
}
.icons {
    display:inline-block;
    margin-top: 15px;
    margin-right: 60px;
}
.icons a{
    margin-left: 10px;  
}
.about-kit{
    background-image: url("../image/banner-bg.png");
    height: 600px;
    width: 100%;
}
.content{
    height: 500px;
    width: 40%;
    float: left;
    margin-left: 110px;
    margin-top: 30px;
}
.content h1{
    width: 100px;
    text-align: left;
    font-weight: 300;
    font-size: 100px;
    color: black;
    line-height: 92px;
    font-family:'Great Vibes', cursive;
}
.content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #50504f;
    margin-top: -39px;
}
.content a{
  width: 22%;
  height: 15px;
  color: whitesmoke;
  border-radius: 5px;
  padding: 13px 20px 17px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 30px;
}
.content a:hover{
    background-color: antiquewhite;
    color: white;
}
.content1{
    height: 400px;
    width: 40%;
    float: left;
    margin-top: 90px;
    margin-left: 20px;
}
.content1 img{
    height: 500px;
}
.products{
    margin-top: 90px;
}
.products h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
}
.products p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #50504f;
}
.row1, .row2, .row3{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
}
.brushes{
    display: inline-block;
    width: 22%;
    height: 390px;
    margin-left: 20px;
}
.brush{
    display: inline-block;
    border: 1px solid black;
    width: 100%;
    height: 320px;
    
}
.brush h3{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
    padding-top: 10px;
}
.brush p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #50504f;
    line-height: 1.5;
}
.brush img{
    width: 80%;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.order{
    width: 100%;
    height: 70px;
    background-color: black;
    margin-bottom: 20px;
    border: 1px solid black;
}
.order .buy1{
  width: 25%;
  height: 20px;
  color: white;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #f5ddb6;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 22px;
  margin-left: 2%;
  text-transform: uppercase;
}
.order .buy2{
    width: 25%;
  height: 20px;
  color: black;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 22px;
  margin-left: 2%;
  text-transform: uppercase;
  }
  .order .buy2:hover{
    color: white;
    background-color: #f5ddb6;
  }
  .order p{
    float: right;
    color: white;
    text-align: right;
    margin-right: 9px;
    margin-top: 25px;
    font-family: Arial, sans-serif;
  }
  .more a{
    width: 9%;
    height: 15px;
    color: whitesmoke;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 5%;
    margin-left: 45%;
  }
  .more a:hover{
    color: white;
    background-color: #f5ddb6;
  }
  .store{
    background-color: #fef4ec;
    width: 100%;
    height: 600px;
    margin-bottom: 7%;
  }
  .stores{
     width: 40%;
     height: 400px;
     float: left;
     margin-top: 5%;
     margin-left: 15%;
  }
  .stores h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
  }
  .stores p{
    width: 439px;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #50504f;
  }
  .stores a{
    width: 22%;
    height: 15px;
    color: whitesmoke;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 30px;
  }
  .stores a:hover{
    background-color: white;
    color: black;
  }
  .stores1{
     width: 30%;
     height: 400px;
     float: left;
     margin-top: 7%;
  }
  .stores1 img{
    width: 120%;
    height: 400px;
    float: left;
  }
  .customer h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    margin-bottom: 3%;
  }
  .clients{
    width: 59%;
    height: 250px;
    background-color: white;
    box-shadow: 0px 0px 30px 1px #eeeeed;
    margin-left: 19%;
    margin-bottom: 4%;
    border-radius: 10px;
  }
  .client-imag{
    float: left;
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
  }
  .client-ifm{
    float: left;
    width: 65%;
    margin-top: 6%;
    margin-left: 1%;
  }
  .client-ifm h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    color: black;
  }
  .client-ifm p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #252525;
  }
.get-touch{
    width: 40%;
    height: 200px;
    margin-left: 8%;
    float: left;
    margin-bottom: 3%;
}
.get-touch h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 40px;
    color: black;
}
.get-touch p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #252525;
}
.get-touch1{
    width: 35%;
    height: 200px;
    float: left;
    margin-bottom: 3%; 
}
.form a{
    width: 24%;
    height: 15px;
    color: white;
    border-radius: 5px;
    padding: 15px 40px 14px 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    background-color: black;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 17%;
    margin-left: 5%;
}
.new a{
    width: 24%;
    height: 15px;
    color: black;
    border-radius: 5px;
    padding: 15px 40px 14px 40px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fef4ec;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 17%;
    margin-left: 4%;
}
.get-touch1 .new:hover{
    color: white;
    background-color: black;
}
.footer{
    background-color: #252525;
    height: 500px;
}
.contact-us, .beautf{
    float: left;
}
.best-p{
    float: right;
}
.contact-us{
    width: 30%;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-left: 9%;
    margin-top: 6%;
}
.foot li{
    color: white;
    display: block;
    margin-left: -11%;
}
.foot li a{
    color: white;
    font-size: 16px;
    margin-top: 3px;
}
.foot li a:hover{
    color: #f1dbc9;
}
.beautf{
    width: 40%;
    margin-top: 3%;
    
}
.beautf img{
    margin-top: 12%;
    margin-left: -4%;
}
.beautf p{
    width: 349px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Tahoma, Verdana, sans-serif;
    line-height: 1.5;
    color: white;
    margin-left: -14%;
}
.map img{
    width: 100%;
    height: 400px;
}
.best-p{
    width: 20%;
    float: left;
    margin-top: 4%;
    margin-left: 13px;
}
.best-p h3{
    color: white;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-size: 30px;
    margin-top: 20%;
    margin-right: 35%;
    margin-left: -50%;
}
.best-p p{
    width: 147px;
    margin-right: 35%;
    margin-left: -50%;
    color: white;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin-top: -5%;
    font-size: 15px;
}
.social {
    margin-left: 40%;
}
.social a{
    margin-left: 10px;
}
.foot-txt{
    border-top: 1px solid #f5ddb6;
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
}
.foot-txt p{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    margin-top: 64px;
}


